<h1>Your Personal Line Chart</h1>
<!-- <%= link_to "Log out", destroy_user_session_path %> -->
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<div class="row">
  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <h3>Numbers Added</h3>
    <%= line_chart Hash[(0...@numbers.size).zip @numbers.map(&:value)], {height: "400px", library: {hAxis: {title: "All Entered Numbers"}, vAxis: {title: "Numbers", viewWindow: {min: 0, max:10}}}, discrete: true} %>
    <!-- <%= line_chart @numbers.group(:value).group_by_week(:created_at).count %> -->
    <!-- <%= line_chart @numbers.pluck(:value) %> -->
    <!-- <%= line_chart @numbers.group_by_second(:created_at).count %> -->
  </div>
</div>

<table>
  <tr>
    <th>All Numbers</th>
  </tr>

  <% @numbers.each do |number| %>
    <tr>
      <td><%= number.value %></td>
      <td><%= link_to 'Show', number_path(number) %></td>
      <td><%= link_to 'Edit', edit_number_path(number) %></td>
      <td><%= link_to 'Destroy', number_path(number),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= link_to 'Add new number', new_number_path %>

</table>
